</article>
</div><!--end of content-->
</div><!--end of wrapper-->
  <div id="footer" style="position: absolute;"> 
   <div id="footer-inner">
    <div class="helpers">
     <div>
      <span>Powered By</span>
      <br />
      <a href="http://nodejs.org/"><img src="/img/nodejs_logo_small.png" alt="Node.js" /></a>
     </div>
     <div>
      <span>Accelerated By</span>
      <br />
      <a href="http://brandery.org"><img src="/img/brandery_logo_small.png" alt="The Brandery" /></a>
     </div>
    </div>
    <div class="nav">
     <ul>
      <li class="twitter social"><a href="https://twitter.com/OnModulus"><img src="/img/twitter_logo_tiny.png" alt="Twitter" /></a></li>
      <li class="facebook social"><a href="http://www.facebook.com/OnModulus"><img src="/img/facebook_logo_tiny.png" alt="Facebook" /></a></li>
      <li class="internal"><a href="/contact">Contact</a></li>
      <li class="internal"><a href="/codex">Docs</a></li>
      <li class="internal"><a href="http://blog.onmodulus.com">Modulus Blog</a></li>
      <li class="last internal"><a href="/pricing">Pricing</a></li>
     </ul>
     <ul>
      <li class="internal"><a href="/faq">FAQ</a></li>
      <li class="internal"><a href="/legal/tos">Terms of Service</a></li>
      <li class="last internal"><a href="/legal/privacy-policy">Privacy Policy</a></li>
     </ul>
    </div>
    <div class="copyright">
     &copy; Modulus 2013. All rights reserved.
    </div>
   </div>
  </div>
</body>
</html>