<!DOCTYPE html>
<html >
<head>
<meta charset="UTF-8" />
<title><%=title%></title>

<link rel="stylesheet" href="/jslab/screenlock/lock.css">
<script type="text/javascript" src="/jslab/screenlock/lock.js"></script>

</head>
<body>

