<%- include header %>

<div class="wrapper">
    <div class="switcher">
    <span >slide</span><!--
 --><a href="javascript:void(0);" ><span id="switcher" class="slideon"></span></a><!--
 --><span >click</span>
    </div>
    <div class="arealock">
        <span class="lockItem"></span>
        <span class="lockItem"></span>
        <span class="lockItem"></span>
        <span class="lockItem"></span>
        <span class="lockItem"></span>
        <span class="lockItem"></span>
        <span class="lockItem"></span>
        <span class="lockItem"></span>
        <span class="lockItem"></span>
    </div>
</div>

<%- include footer %>
